
@media only screen and (max-width: 992px) {
  header .header-inner-block nav h1 {
    margin-right: 45px;
  }

  header .header-inner-block nav .header-block .header-top .header-top-right-block {
    float: none;
  }

  main .guarantee-block .guarantee-block-inner h2 {
    font-size: 40px;
  }

  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-left-list {
    font-size: 18px;
  }

  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-right-list .guarantee-inner-right-list-top p,
  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-right-list .guarantee-inner-right-list-bottom p {
    font-size: 14px;
  }

  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-right-list .guarantee-inner-right-list-top li:first-child,
  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-right-list .guarantee-inner-right-list-bottom li:first-child {
    margin-right: 47px;
  }

  .nav-tabs > li {
    float: none;
  }

  .design-block-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .services-block .services-block-inner .services-txt-block .services-txt-block-inner {
    padding: 22px;
  }

  main .services-block .services-block-inner .services-txt-block .services-txt-block-inner ul {
    padding-bottom: 15px;
  }

  main .services-block .services-block-inner .services-txt-block .services-txt-block-inner .txt-list h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  main .services-block .services-block-inner .services-txt-block .services-txt-block-inner .txt-list p {
    font-size: 12px;
    padding-bottom: 15px;
    line-height: 18px;
  }

  main .services-block .title h2 {
    font-size: 60px;
  }

  main .projects-block .title h2 {
    font-size: 60px;
  }

  main .projects-block .title-right-block {
    margin-left: 48px;
    font-size: 16px;
  }

  main .projects-block .title-right-block:before {
    top: -20px;
  }
  main .advantages-block .title h2 {
    font-size: 62px;
  }

  main .advantages-block .title {
    margin-left: 0;
    text-align: center;
  }

  main .advantages-inner-block, main .advantages-inner-block .advantages-inner-list {
    height: auto;
  }

  .advantages-inner-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  main .advantages-inner-block .advantages-inner-list .txt-list {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main .advantages-inner-block .advantages-inner-list .txt-list p:first-child {
    font-size: 20px;
  }

  main .advantages-inner-block .advantages-inner-list .txt-list p:last-child {
    font-size: 16px;
  }

  main .advantages-inner-block .advantages-inner-list .txt-list {
    padding: 20px;
    min-height: 120px;
  }

  .sponsors-list {
    margin-bottom: 8px;
  }

  main .stars-block .stars-inner-block .title2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  main .stars-block .stars-inner-block .txt {
    font-size: 12px;
    line-height: 18px;
  }

  main .complex-design-block .moscow-designer-block,
  main .complex-design-block .staff-block
  {
    height: 125px;
  }

  main .complex-design-block .staff-block .staff-inner-block {
    font-size: 18px;
  }

  main .complex-design-block .staff-block .staff-inner-block:before {
    top: -15px;
  }

  main .complex-design-block .fill-form-block form .submit-btn:before {
    left: 196px;
  }

  main .contacts-block .title, main .contacts-block ul {
    margin-left: 0;
  }

  main .contacts-block .title, main .contacts-block ul {
    padding-left: 20px;
  }

  main .contacts-block .title {
    padding-left: 0;
  }

  footer .social-icons-list li a {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  footer .footer-txt-block li:first-child {
    font-size: 15px;
  }

  footer .footer-txt-block li a {
    margin-bottom: 10px;
    font-size: 12px;
  }

  footer .footer-txt-block li:first-child {
    margin-bottom: 25px;
  }


  /*header-menu*/

  header .header-inner-block nav .header-block .header-top ul {
    display: none;
  }

  header nav h1, header nav ul, header nav ul li {
    float: none!important;
  }

  header .header-inner-block nav h1 {
    margin-right: 0;
  }

  header nav h1 {
    text-align: center;
  }

  .nav-icon {
    display: block!important;
  }

  header nav ul {
    display: block;
    position: absolute;
    left: 30px;
    top: 75px;
    margin-top: 40px;
  }

  header nav ul li a {
    line-height: 3;
  }
  nav {
    height: 125px;
    overflow: hidden;
    transition: 0.3s;
    /*position: absolute;*/
    position: fixed;
    width: 100%;
    z-index: 22;
    top: 0;
    left: 0;
    background-color: #1b1d1f;
    &.menu-open{
      height: 550px;
      transition: 0.5s;
    }
  }




  header .header-inner-block nav .header-block .header-bottom ul {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    left: 30px;
  }

  header .header-inner-block nav .header-block .header-top {
    position: absolute;
    bottom: -120px;
    left: 30px;
  }

  header .header-inner-block nav .header-block {
    float: none;
    position: relative;
  }

  .header-bottom ul {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    left: 30px;
    top: 40px;
  }

  header .header-inner-block nav .header-block {
    float: none;
    position: relative;
  }

  header nav ul {
    position: absolute;
    left: 30px;
    top: 75px;
    margin-top: 40px;
  }

  header .header-inner-block nav .header-block .header-top {
    height: auto;
    line-height: 0;
  }

  header .header-inner-block nav .header-block .header-top ul li a,
  header .header-inner-block nav .header-block .header-bottom ul li a
  {
    line-height: 40px;
  }

  header .header-inner-block nav .header-block .header-top .header-top-right-block .numbers {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header .header-inner-block nav .header-block .header-top .header-top-right-block .numbers,
  header .header-inner-block nav .header-block .header-top .header-top-right-block button {
    float: none;
  }

  /*header-menu*/

}

@media only screen and (max-width: 767px) {
  header .header-inner-txt .txt-list h2 {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  header .header-inner-txt .txt-list p {
    font-size: 16px;
    text-align: center;
  }

  header .header-inner-txt .txt-list p:before {
    left: 0;
    top: 12px;
  }

  main .guarantee-block .guarantee-block-inner .guarantee-inner-lists .guarantee-inner-left-list {
    margin-bottom: 30px;
  }

  .second-block {
    text-align: center;
  }

  .guarantee-inner-right-list {
    display: inline-block;
    padding-bottom: 30px;
  }

  .design-block-inner {
    text-align: center;
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .services-pic-block {
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 100%;
    }
  }

  .services-txt-block {
    margin-left: 15px;
    margin-right: 15px;
  }

  main .services-block .title {
    margin-left: 0;
    text-align: center;
  }

  main .services-block .title h2 {
    font-size: 45px;
  }

  main .projects-block .title {
    margin-left: 0;
    text-align: center;
  }

  main .projects-block .title h2 {
    font-size: 35px;
  }

  main .projects-block .title-right-block {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 0;
    display: block;
  }

  main .projects-block .title-right-block:before {
    left: -156px;
    bottom: 0;
    right: 0;
    margin: auto;
    top: -7px;
  }

  main .projects-block .projects-inner-block, main .projects-block, main .complex-design-block {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .projects-block .projects-inner-right-block,
  main .projects-block .projects-inner-right-block .projects-inner-right-txt
  {
    width: auto;
  }

  main .advantages-inner-block .advantages-inner-list .txt-list p:last-child {
    font-size: 14px;
  }

  main .advantages-block .title h2 {
    font-size: 40px;
  }

  main .stars-block .title h2 {
    font-size: 40px;
  }

  .stars-inner-list {
    margin-bottom: 20px;
  }

  .complex-design-block-center {
    text-align: center;
  }

  main .complex-design-block .title h2 {
    font-size: 25px;
  }

  main .complex-design-block .fill-form-block form .fill-form-list input {
    width: 100%;
  }

  main .complex-design-block .fill-form-block h3 {
    font-size: 18px;
    margin-left: 0;
  }

  main .complex-design-block .fill-form-block form .submit-btn:before {
    display: none;
  }

  main .complex-design-block .fill-form-block form .submit-btn {
    border: 1px solid #fbcf84;
    height: 50px;
    line-height: 50px;
  }

  main .complex-design-block .fill-form-block form .submit-btn:hover {
    background-color: #fbcf84;
    border: 1px solid transparent;
  }

  .footer-center, main .contacts-block .title {
    text-align: center;
  }

  .social-icons-list {
    width: 90px;
    margin: 30px auto;
  }

  main .contacts-block .title, main .contacts-block ul {
    width: 270px;
    margin: 30px auto;
  }

  .services-txt-block {
    clear: both!important;
  }

  .list {
    float: none!important;
  }

}