



@media only screen and (min-width: 1400px) {
  .container {
    width: 1364px;
  }


}

@media only screen and (max-width: 1399px) {
  header .header-inner-block nav h1 {
    margin-right: 15px;
  }

  header .header-inner-block nav .header-block .header-top .header-top-left-txt {
    margin-right: 43px;
  }

  header .header-inner-block nav .header-block .header-top ul li {
    margin-right: 28px;
  }

  header .header-inner-block nav .header-block .header-top .header-top-right-block .numbers {
    margin-right: 15px;
  }

}

