

$baselight: #fff;
$basedark: #000;
$colorfirst: #a3a3a3;
$colorsecond: #fbcf84;
$colorthird: #534b3d;
$colorfourth: #e1e1e1;
$colorfifth: #1d1e1e;
$colorsixth: #202223;
$colorseventh: #7e7f7f;
$coloreight: #1b1d1f;
$colorten: #c6c6c6;
$colornine: #aeaeae;
$coloreleven: #010101;
$colortwelve: #272727;
$colortwelve: #373737;
$colorthirteen: #141515;




