header nav h1 a:hover,
footer .footer-logo-block a:hover {
  opacity: .8;
}

header .header-inner-block nav .header-block .header-bottom ul li a:hover,
header .header-inner-block nav .header-block .header-bottom ul li a.active {
  color: #fbcf84;
}

header .header-inner-block nav .header-block .header-top ul li a:hover {
  color: #8F8F8F;
}

main .services-block .services-block-inner .services-txt-block .services-txt-block-inner .txt-list a:hover {
  background-color: #fbcf84;
  color: #fff;
  border: 1px solid transparent;
}

footer .footer-txt-block li a:hover {
  color: #707070;
}

header .header-inner-block nav .header-block .header-top .header-top-right-block button:hover {
  background-color: #fbcf84;
  color: #e1e1e1;
  border: 1px solid transparent;
}

footer .social-icons-list li a:hover {
  background-color: #141515;
  color: #fff;
}

/*header .header-bottom-icon a:hover {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}*/
